<!-- FOOTER -->
<section id="banner" class="section-m1 ">
    <h4>Promo Services !!</h4>
    <h2>Jusqu'à <span>70% de réduction </span> - All t-shirts & Accessories</h2>
    <button class="normal">En savoir plus</button>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>inscrivez-vous à la newsletter</h4>
        <p>recevoir des mises à jour par courriel sur nos dernières boutiques et <span>nos offres spéciales !</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Votre adresse e-mail">
        <button class="normal">Sign Up</button>
    </div>
</section>