<!-- Header-->
<section id="hero">
            <h4>Offre de reprise ! </h4>
            <h2>Offres de valeurs sûres !</h2>
            <h1>Sur l'ensemble des produits
            </h1>
            <p>Économisez davantage avec des coupons de réduction :)</p>
            <button>Achetez maintenant :) </button>
        </section>
